@import "../mixins/_media.sass";

.articles {
    background-color: rgba(248, 248, 248, 0.86);
    margin-top: 20px;
    padding: 20px 30px;
    border-radius: 3px;
    max-height: 680px;
    overflow-y: scroll;

    @include respond-to(tablet) {
        max-height: 380px;
    }

    &__item {
        color: #5b5b5b;
        margin-bottom: 40px;

        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                padding: 10px 50px;
                letter-spacing: 3px;
                font-weight: 500;
            }
            .btn-buy {
                background-color: #fff;
                border: 1px solid #2d9cdb;
                color: #2d9cdb;

                @include respond-to(1110px) {
                    margin-bottom: 10px;
                }
                @include respond-to(tablet) {
                    margin-bottom: 0;
                    margin-right: 10px;
                }
                @include respond-to(440px) {
                    margin-bottom: 10px;
                    margin-right: 0;
                }
            }

            @include respond-to(1110px) {
                flex-direction: column;
            }
            @include respond-to(tablet) {
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            @include respond-to(440px) {
                flex-direction: column;
            }
        }
        .text {
            margin-top: 20px;
            p {
                margin-bottom: 10px;
                font-size: 14px;
                font-weight: 500;
                line-height: 17px;
            }
        }
        .heading {
            margin-bottom: 20px;
            font-size: 36px;
            line-height: 22px;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: center;

            @include respond-to(1180px) {
                font-size: 24px;
                margin-bottom: 10px;
            }
        }
    }
}
