.butn {
	display: block;
	padding: 10px 25px;
	background-color: #2d9cdb;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	outline: none;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.copyright {
	margin: 5px auto 15px;
	text-align: center;
	color: #95a1bb;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}