.butn {
	display: block;
	padding: 10px 25px;
	background-color: #2d9cdb;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	outline: none;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}