@import "../elements/elements";
@import "../blocks/header";
@import "../blocks/articles";
@import "../blocks/form-search";
@import "../blocks/lot-list";
@import "../blocks/footer";

.main {
	padding: 25px 0 30px;

	.aside {
		padding-right: 25px;
		border-right: 1px solid #c4c4c4;

		@include respond-to(tablet) {
			margin-bottom: 20px;
			padding-right: 0;
			border: none;
		}
	}
	.content {
		color: #95a1bb;
		
	}
}
